@import url('https://fonts.googleapis.com/css?family=Nunito');
:root {
	--default-font-family: Nunito, "Fira Sans", sans-serif;
}
* {
	font-family: Nunito, "Fira Sans", sans-serif;
}

.title {
	font-family: Nunito, "Fira Sans", sans-serif;
}

a {
	font-family: Nunito, "Fira Sans", sans-serif;
	color: blue;
}

.msg {
	border-left: 6px solid #0032ee;
	background-color: lightblue;
	background-image: lightblue;
	padding: 10px;
	max-width: 15%;
}
