@media only screen and (min-width: 600px) {
    .admin-header {
	      left: 0;
	      position: absolute;
	      background-color: rgb(243, 243, 243);
	      height: 100%;
	      width: 15%;


    }
}

.list-group .list-group-item {
	background-color: rgb(243, 243, 243);

}
.admin_content_container {
    position: relative;
    margin-left: 10%;
}
