FLASK_APP=flim.py
FLASK_DEBUG=1

FLIM_DB_NAME=flim
FLIM_DB_HOST=localhost
FLIM_DB_PORT=3306
FLIM_DB_PROVIDER=mysql
FLIM_DB_USERNAME=username
FLIM_DB_PASSWORD=password
FLIM_HOST=localhost
FLIM_PORT=5000
