/*button, input[type="button"], input[type="submit"]{
	border: none;
	padding: 10px;
	background-color: lightblue;
	color: black;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover{
		cursor: pointer;
}*/

/* Removed for bootstrap migration */
