{% extends "base.html" %}


	{% block content %}

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/css/header.css') }}" />
		<div class="admin_header">
			<h2 class="admin_title" style='display: inline'>Admin Panel</h2>
			<a class="first_header_navbtn" href="{{ url_for('stats') }}"><button>Stats</button></a>
			<a class="header_navbtn" href="#"><button>Users</button></a>
			<a class="header_navbtn" href="#"><button>Groups</button></a>
			<a class="header_navbtn" href="#"><button>Forums</button></a>
			<a class="header_navbtn" href="#"><button>Instance Settings</button></a>
		</div>

		<div class="admin_content_container">
			{% block admin_content %}{% endblock %}
		</div>

	{% endblock %}
