{% extends "base.html" %}


	{% block content %}

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/css/header.css') }}" />
		<script src="{{ url_for('static', filename='admin/js/header.js') }}"></script>
		<div class="admin_header">
			<h2 class="admin_title" style='display: inline'>Admin Panel</h2>
			<a class="first_header_navbtn header_navbtn" id="admin-stats-btn" href="{{ url_for('admin_stats') }}"><button>Stats</button></a>
			<div class="header_submenu_item">
				<a class="header_navbtn" id="admin-user-btn" href="#"><button>Users</button></a>
			</div>
			<div class="header_submenu_item">
				<a class="header_navbtn" id="admin=group-btn"  href="#"><button>Groups</button></a>
			
			</div>
			<div class="header_submenu_item">
				
				<a class="header_navbtn" id="admin-forums-btn" href="#"><button>Forums</button></a>
			</div>
			<div class="header_submenu_item">
				<a class="header_navbtn" id="admin-isetttings-btn" href="#"><button>Instance Settings</button></a>
			
			</div>
			
		</div>

		<div class="admin_content_container">
			{% block admin_content %}{% endblock %}
		</div>

	{% endblock %}
