{% extends "base.html" %}

{% block content %}


	<h1>Manage User {{ user.username }}</h1>
	
	<form action="" method="POST" novalidate>
		
		{{ form.hidden_tag() }}
		
		<div class="form_block">
			<p>{{ form.first_name.label }}</p>
			<p>{{ form.first_name(size=32) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.last_name.label }}</p>
			<p>{{ form.last_name(size=32) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.password.label }}</p>
			<p>{{ form.password(size=32) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.password_validate.label }}</p>
			<p>{{ form.password_validate(size=32) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.email.label }}</p>
			<p>{{ form.email(size=32) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.about_me.label }}</p>
			<p>{{ form.about_me(cols=100, rows=10) }}</p>
		</div>
		
		<div class="submit_block">
			{{ form.submit }}
		</div>
		
		
		
		
		
	</form>

{% endblock %}
