{% extends "base.html" %}

{% block content %}

	<script src="{{ url_for('static', filename='admin/js/stats.js') }}"></script>
	
	
	<h1>Stats</h1>
	
	<p>Total number of CPU cores: {{ istats.cpu_all_cores() }}</p>
	<p>Total number of physical CPU cores: {{ istats.cpu_physical_cores() }}</p>
	<p>Total memory: {{ istats.total_mem() | round(2) }} GB</p>
	<p>Total swap memory: {{ istats.total_swap_mem() | round(2) }} GB</p>
	<p id="available_memory"></p>
	<p id="available_swap_memory"></p>
	
	<div id="cpu_current_load_percent"></div>
	<div id="cpu_current_load_freq"></div>
	
	
{% endblock %}
