{% extends "admin/base.html" %}

{% block admin_content %}
	<h1>Topics</h1>
	<p>You can add a topic or manage topics here.</p>
	
	<a href="{{ url_for('admin_new_topic') }}">New Topic</a>
	
	
	
	
	<h2>Topics List</h2>
	
	{% if topics == [] %}
		<p>There are no preset topics! Click on "New Topic" to add one.</p>
	{% endif %}
	
	<ul>
		{% for topic in topics %}
			<li>
				<div class="topic_block">
					<p class="topic_name">{{ topic.name }}</p>
					<a href="{{ url_for('admin_delete_topic', topic_id=topic.id) }}">Delete</a>
					<a href="{{ url_for('admin_edit_topic', topic_id=topic.id) }}">Edit</a>
				</div>
			</li>
		{% endfor %}
	</ul>
	
{% endblock %}
