<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>{{ title }} | {{ config.app_name }}</title>
		{% else %}
			<title>{{ config.app_name }}</title>
		{% endif %}
		
		
		<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/text.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post_listing.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/widgets.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/subresponse.css') }}" />
		
	</head>
	<body>
		<div class="header">
			<h2 class="title" style='display: inline'>{{ config.app_name }}</h2>
			<a href="{{ url_for('index') }}">Home</a>
			
			
			
			
			{% if current_user.is_anonymous %}
			
				{% if config.app_allow_registration %}
					
					{% if config_helper.get_config_value("app_allow_registration") == '1'%}
						<a href="{{ url_for('register') }}">Register</a>
					{% else %}
						<a href="{{ url_for('register') }}">Register</a>
					{% endif %}
					
					
					
				{% endif %}
				
				<a href="{{ url_for('login') }}">Log In</a>
				
				
			{% else %}
			
				{% if current_user.is_admin() %}
					<a href="{{ url_for('admin_stats') }}">Admin</a>
				{% endif %}

			
				<a href="{{ url_for('logout') }}">Log Out</a>
				<a href="{{ url_for('new_post') }}">Post</a>

			
				<p style='display:inline'>Hey, <a href='{{ url_for("user_profile", name=current_user.username) }}'>{{ current_user.username }}</a>!</p>
			
			{% endif %}
		</div>
		<div class="content">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p class='msg'>{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}	
					
		
			{% block content %}{% endblock %}
		</div>
		
		
		
		
		
		
	</body>
	
	
	
	
</html>
