<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>{{ title }} | {{ config.app_name }}</title>
		{% else %}
			<title>{{ config.app_name }}</title>
		{% endif %}
		
	</head>
	<body>
		<div class="header">
			<h2 style='display: inline'>{{ config.app_name }}</h2>
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('register') }}">Register</a>
			{% if current_user.is_anonymous %}
			
			<a href="{{ url_for('login') }}">Log In</a>
			
			{% else %}
			
			<a href="{{ url_for('logout') }}">Log Out</a>
			<a href="{{ url_for('new_post') }}">Post</a>

			
			<p style='display:inline'>Hey, <a href='{{ url_for("user_profile", name=current_user.username) }}'>{{ current_user.username }}</a>!</p>
			
			{% endif %}
		</div>
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p class='msg'>{{ message }}</p>
				{% endfor %}
			{% endif %}
			
		{% endwith %}	
		
		{% block content %}{% endblock %}
		
		
		
		
		
	</body>
	
	
	
	
</html>
