{% extends "base.html" %}
{% block content %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_topic.css') }}" />
	<script src="{{ url_for('static', filename='js/new_topic.js') }}"></script>

	<h1 class="form_block form-group col-lg-3">New Post</h1>
	
	{% include "_post_form.html" %}

{% endblock %}
