{% extends "base.html" %}
{% block content %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_topic.css') }}" />
	<script src="{{ url_for('static', filename='js/new_topic.js') }}"></script>

	<h1>New Post</h1>
	<form action="" method="POST" novalidate>
		
		{{ form.hidden_tag() }}
		
		<div class="form_block form-group">
			<p>{{ form.title.label }}</p>
			{{ form.title(size=32, class_="form-control" ) }}
		</div>
		
		<div class="form_block form-group">
			<p>{{ form.content.label }}</p>
			{{ form.content(cols=100, rows=10, class_="form-control") }}
		</div>
		
		<div class="form_block form-group">
			<p>{{ form.topics.label }}</p>
			{{ form.topics }}<br>
			
			<div class="new_topic_box">
					<button class="add_topic_button btn btn-primary" type="button">+</button>
			
			</div>
			
		
			
			
			<br><br>
			
		</div>
		
		{{ form.submit(class_="btn btn-success") }}
	</form>

{% endblock %}
