{% extends "base.html" %}

{% block content %}
	<h1>New Response</h1>
	{% if not subresponse %}
		<p>Type your response to "{{ post.title }}"</p>
	{% else %}
		<p>Type your subresponse to "{{ post.title }}"</p>
	{% endif %}
	<hr>
	
	<form action="" method="POST" novalidate>
		
		{{ form.hidden_tag() }}
		
		<div class="form-group">
			{{ form.content.label }}
			{{ form.content(cols=100, rows=10, class_="form-control") }}
		</div>
		
		<br>
		
		<div class="submit_block">
			{{ form.submit(class_="btn btn-success") }}
		</div>
	
	</form>

	



{% endblock %}


