{% extends "base.html" %}
{% block content %}

	<head>
		<title>Register | {{config.app_name}}</title>
	</head>
	
	<h1>Register for {{config.app_name}}!</h1>
	<form action="" method="POST" novalidate>
		{{ form.hidden_tag() }}
		
		<p>
			{{ form.first_name.label }}<br>
			{{ form.first_name(size=32) }}
		</p>
		
		<p>
			{{ form.last_name.label }}<br>
			{{ form.last_name(size=32) }}
		</p>
		
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}
		</p>
		
		
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}
		</p>
		
		<p>
			{{ form.password_validate.label }}<br>
			{{ form.password_validate(size=32) }}
		</p>
		
		<p>
			{{ form.email.label }}<br>
			{{ form.email }}
		</p>
		
		<p>{{ form.submit() }}</p>
		
	</form>

{% endblock %}
