{% extends "base.html" %}
{% block content %}
	<h1>User Profile for {{ user.username }} ({{ user.first_name + " " + user.last_name }})</h1>
	
	<p><b>Email:</b> {{ user.email }} </p>
	
	
	{% if user.about %}
		<p>{{ user.about }}</p>
		
	{% else %}
		<p>Well, normally we'd put the "About Me" description here, but there isn't one!</p>
	{% endif %}
	
	<hr>
	
	<h3>{{ user.username }}'s Posts</h3>
	
	{% for post in user_posts %}
		{% include "_post_listing.html" %}
	{% endfor %}
	
	<hr>
	
	<a href="{{ url_for('update_profile') }}">Update Profile</a>
	
	
	
	



{% endblock %}

