{% extends "base.html" %}
{% block content %}

	
	
	<h1>Post: {{ post.title }}</h1>

	<h2>Topics</h2>
	{% include "_topic_listing.html" %}

	<h2>Content</h2>
	
	<p> {{ post.content }}</p>


	{% if post.creator == current_user %}
		<!--if the logged-in user created this post-->
		
		<a href="{{ url_for('edit_post', post_id=post.id) }}">edit</a> <br>
		<a href="{{ url_for('delete_post', post_id=post.id) }}">delete</a>
		
		<br>
		<br>
	{% endif %}
	
	
	
	{% if not current_user.is_anonymous %}
		<!-- allow logged-in users to reply -->
		<a href="{{ url_for('new_response', post_id=post.id) }}">reply</a>
	{% endif %}
	
	<br>
	
	<hr>
	
	<h3>Responses</h3>
	
	<hr>
	
	{% for response in post_responses %}
		{% include "_response_listing.html" %}
	
	{% endfor %}
	
{% endblock %}
